//背景
body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}

//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.9;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
// .popup {
//   opacity: 0.9;
// }

/* sidebar social icon */
.bilibili {
    background-image: url('/images/bilibili.svg');
    background-size: 1em 1em;
    opacity: 0.55;
    background-position: 0.05rem 0.2rem;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    border-radius: 0rem;

    /* 鼠标停留在图标上时，图标呈现发光效果 */
    &:hover {
        opacity: 1;
    }
}

.github {
    background-image: url('/images/github.svg');
    background-size: 1em 1em;
    opacity: 0.55;
    background-position: 0.05rem 0.2rem;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    border-radius: 0rem;

    /* 鼠标停留在图标上时，图标呈现发光效果 */
    &:hover {
        opacity: 1;
    }
}

.qq {
    background-image: url('/images/qq.svg');
    background-size: 1em 1em;
    opacity: 0.55;
    background-position: 0.05rem 0.2rem;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    border-radius: 0rem;

    /* 鼠标停留在图标上时，图标呈现发光效果 */
    &:hover {
        opacity: 1;
    }
}

.stackoverflow {
    background-image: url('/images/stackoverflow.svg');
    background-size: 1em 1em;
    opacity: 0.55;
    background-position: 0.05rem 0.2rem;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    border-radius: 0rem;

    /* 鼠标停留在图标上时，图标呈现发光效果 */
    &:hover {
        opacity: 1;
    }
}

.zhihu {
    background-image: url('/images/zhihu.svg');
    background-size: 1em 1em;
    opacity: 0.55;
    background-position: 0.05rem 0.2rem;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    border-radius: 0rem;

    /* 鼠标停留在图标上时，图标呈现发光效果 */
    &:hover {
        opacity: 1;
    }
}

.c-aside {
    margin-bottom: 30px;
}

.c-aside-body a {
    border-radius: 6px;
    color: #37a;
    display: inline-block;
    letter-spacing: normal;
    margin: 0 8px 8px 0;
    padding: 0 8px;
    text-align: center;
    width: 65px;
}

.c-aside-body a:link, .c-aside-body a:visited {
    background-color: #f5f5f5;
    color: #37a;
}

.c-aside-body a:active, .c-aside-body a:hover {
    background-color: #e8e8e8;
    color: #37a;
}

.c-aside-body a.available {
    background-color: #5ccccc;
    color: #006363;
}

.c-aside-body a.available:active, .c-aside-body a.available:hover {
    background-color: #3cc;
}

.c-aside-body a.sites_r0 {
    text-decoration: line-through;
}

#c_dialog li {
    margin: 10px;
}

#c_dialog {
    text-align: center;
}

#interest_sectl .rating_imdb {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0;
}

#interest_sectl .rating_wrap {
    padding-top: 15px;
}

#interest_sectl .rating_more {
    border-bottom: 1px solid #eaeaea;
    color: #9b9b9b;
    margin: 0;
    padding: 15px 0;
    position: relative;
}

#interest_sectl .rating_more a {
    left: 80px;
    position: absolute;
}

#interest_sectl .rating_more .titleOverviewSprite {
    background: url('https://coding.net/u/Changhw/p/MyDoubanMovieHelper/git/raw/master/title_overview_sprite.png'); // coding.net/u/Changhw/p/MyDoubanMovieHelper/git/raw/master/title_overview_sprite.png)
    display: inline-block;
    vertical-align: middle;
}

#interest_sectl .rating_more .popularityImageUp {
    background-position: -14px -478px;
    height: 8px;
    width: 8px;
}

#interest_sectl .rating_more .popularityImageDown {
    background-position: -34px -478px;
    height: 8px;
    width: 8px;
}

#interest_sectl .rating_more .popularityUpOrFlat {
    color: #83c40b;
}

#interest_sectl .rating_more .popularityDown {
    color: #930e02;
}

.more {
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    background: #f7f7f7;
}

div#drdm_setting input[type='checkbox'] {
    display: none;
}

div#drdm_setting input[type='checkbox'] + label {
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
    transition: 0.3s;
    margin: 0 20px;
    box-sizing: border-box;
    background: #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaa;
}

div#drdm_setting input[type='checkbox'] + label:after, div#drdm_setting input[type='checkbox'] + label:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    cursor: pointer;
}

div#drdm_setting input[type='checkbox'] + label:after {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #aaa;
}

div#drdm_setting input[type='checkbox']:checked + label {
    background: #aedcae;
}

div#drdm_setting input[type='checkbox']:checked + label:after {
    background: #5cb85c;
    left: calc(100% - 20px);
}

.top250 {
    background: url('https://s.doubanio.com/f/movie/f8a7b5e23d00edee6b42c6424989ce6683aa2fff/pics/movie/top250_bg.png'); // s.doubanio.com/f/movie/f8a7b5e23d00edee6b42c6424989ce6683aa2fff/pics/movie/top250_bg.png)
    width: 150px;
    margin-right: 5px;
    font: 12px Helvetica, Arial, sans-serif;
    margin: 5px 0;
    color: #744900;
}

.top250 span {
    display: inline-block;
    text-align: center;
    height: 18px;
    line-height: 18px;
}

.top250 a, .top250 a:active, .top250 a:hover, .top250 a:link, .top250 a:visited {
    color: #744900;
    text-decoration: none;
    background: 0;
}

.top250-no {
    width: 34%;
}

.top250-link {
    width: 66%;
}

.drdm-dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drdm-dl-horizontal dd {
    margin-left: 180px;
}
