// 圆角设置
$border-radius-inner     = 20px;
$border-radius           = 20px;

// 中文字体
$font-family-monospace    = consolas, Menlo, monospace, $font-family-base;
$font-family-monospace    = get_font_family('codes'), consolas, Menlo, monospace, $font-family-base if get_font_family('codes');